.title{
    font-size:120px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 8px 8px #ff1f8f;
  }

  .character-shadow {
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
  }

  .background-image {
    position: absolute;
  }

  .right-side {
    right: -41%;
    transform: rotate(310deg);
    width: 50%;
  }

  .left-side {
    left: -12%;
    transform: rotate(50deg);
    width: 30%;
    top: 262%;
  }

  .center-left {
    left: 50%;
  }

  .center-right {
    right: 10%;
  }

  .is-child {
    background-color: #4C432A;
  }